table {
    border-spacing: 0px;
}
table tr td {
    border: 1px solid #000;
    padding: 10px;
}

thead tr td, tfoot tr td  {
    background: black;
    color: #fff;
    text-align: center;
}

@media screen() {
    
}

